body {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}

header {
    font-family: "Montserrat", sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer a {
    text-decoration: none;
    color: antiquewhite;
}

footer a:hover {
    color: orange;
}

.navbar_home-title {
    color: #909090;
    margin-bottom: -10px;
}

.list-header {
    height: 50px;
}

.add-list_header {
    background-color: #adb5bd;
}

.students-list_header {
    text-transform: uppercase;
    font-size: 0.7rem;
}

.list-body {
    background-color: #f8f9fa;
    height: 100vh;
}

.delete-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    color: aliceblue;
}

@media (max-width: 732px) {
    .navbar-form {
        width: 100%;
        margin-top: 15px;
        margin-left: -30px;
        display: flex;
        justify-content: center;
    }
}